<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action='/editData'  method="POST">

        <Label>Full Name:</Label>
        <input required type="text" value="<%=allStudentData.student_name%>" placeholder="Enter FullName" name="name"/><br><br>
        <Label>Age:&emsp;&emsp;&ensp;</Label>
        <input required type="number" value="<%=allStudentData.student_age%>" placeholder="Enter Age" name="age"/><br><br>
        <Label>City:&emsp;&emsp;&ensp;</Label>
        <input required type="text" value="<%=allStudentData.student_city%>" placeholder="Enter City" name="city"/><br><br>
    
        <Label>Email:&emsp;&emsp;</Label>
        <input required type="email" value="<%=allStudentData.student_email%>" placeholder="Enter Email" name="email"/><br><br>
        <input type="submit"  name=submit value="UPDATE STUDENT"/><br><br>
        
        </form>
</body>
</html>