<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <style>



    </style>
</head>
<body>
    <h1>WELCOME TO login PAGE</h1>
    <!-- <%- include('partialhead')%> -->

</body>
</html>